# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Virtual environments
env/
venv/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# pyenv
.python-version

# pytest
.cache

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# tox
.tox/
.nox/

# Coverage reports
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Environments variables
.env

# Editor / IDE specific
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
*.session

# Docker volumes
kafka/
zookeeper/
